.body {
  overflow: hidden;
}
.page3 .title03 {
  background: url("../img/cat-image/title03.png") no-repeat;
}
.page3 .content {
  width: 100%;
  height: 892px;
  margin-top: 30px;
  position: relative;
}
.page3 .content .player {
  width: 860px;
  height: 200px;
  overflow: hidden;
  background-color: #fff;
  border: 1px solid #9e6c37;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
  text-align: center;
}
.page3 .content .player .players {
  width: 2582px;
  height: 200px;
}
.page3 .content .player .players .playIn {
  width: 860px;
  height: 200px;
  overflow: hidden;
  float: left;
}
.page3 .content .player .players .show {
  display: inline-block;
}
.page3 .content .img-btn a {
  display: inline-block;
  width: 68px;
  height: 88px;
}
.page3 .content .img-btn .left {
  background: url(../img/cat-image/action-left.png);
  position: absolute;
  top: 56px;
}
.page3 .content .img-btn .right {
  background: url(../img/cat-image/action-right.png);
  position: absolute;
  top: 56px;
  right: 0;
}
.page3 .content .title-sub {
  margin-top: 40px;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  color: #9f6c35;
}
.page3 .content .core-warp {
  width: 100%;
  height: 576px;
  margin: 40px -80px 0 0;
}
.page3 .content .core-warp .ci0 {
  position: relative;
}
.page3 .content .core-warp .ci0 .icon-play {
  position: absolute;
  top: 229px;
}
.page3 .content .core-warp .ci1 {
  position: relative;
}
.page3 .content .core-warp .ci1 .icon-play {
  position: absolute;
  top: 229px;
}
.page3 .content .core-warp .ci2 {
  position: relative;
}
.page3 .content .core-warp .ci2 .icon-play {
  position: absolute;
  top: 229px;
}
.page3 .content .core-warp .core-tit {
  text-align: center;
  font-size: 18px;
  color: #9e6c36;
  margin-bottom: 8px;
  font-weight: 700;
}
.page3 .content .core-warp .core-item {
  box-sizing: border-box;
  float: left;
  width: 281px;
  margin-right: 75px;
  position: relative;
}
.page3 .content .core-warp .core-item .pic {
  border: 2px solid #9e6c36;
  border-bottom: none;
}
.page3 .content .core-warp .core-item .pic .picimg {
  width: 100%;
}
.page3 .content .core-warp .core-item .picI {
  width: 281px;
  height: 270px ;
  border: 2px solid #9e6c37;
  border-top: none;
  padding-top: 80px;
  border-bottom: none;
  box-sizing: border-box;
  position: relative;
  background: #fff;
  z-index: 333;
  transition: all 0.1s ease-in;
}
.page3 .content .core-warp .core-item .picI .picIn {
  overflow: hidden;
}
.page3 .content .core-warp .core-item .picI .picIn .picspan {
  display: inline-block;
  margin-left: 68px;
  font-size: 18px;
  color: #9e6c36;
  margin-bottom: 8px;
}
.page3 .content .core-warp .core-item .picI .picIn .spanimg1 {
  margin-left: 52px;
}
.page3 .content .core-warp .core-item .picI .picIn .spanimg2 {
  margin-left: 40px;
}
.page3 .content .core-warp .core-item .picI .picIn .tips {
  text-align: center;
  font-size: 14px;
  color: #2f2f31;
  width: 190px;
  margin: 30px auto 0;
}
.page3 .content .core-warp .core-item .picI .picIn .lastpicSpan {
  margin-left: 45px;
}
.page3 .content .core-warp .core-item .picI .picInN .piclit {
  width: 256px;
  margin: 0 auto;
  font-weight: 700;
  color: #9e6c36;
  font-size: 24px;
  text-align: center;
}
.page3 .content .core-warp .core-item .picI .picInN .piclitDiv {
  background: #9e6c36;
  width: 253px;
  height: 1px;
  margin: 0 auto 10px;
  border-bottom: 1px solid #9e6c36;
}
.page3 .content .core-warp .core-item .picI .picInN .piclitDesc {
  line-height: 26px;
  font-size: 14px;
  color: #2f2f31;
  margin: 15px auto 15px;
  width: 247px;
  text-align: justify;
}
.page3 .content .core-warp .core-item .picI .hide {
  display: none;
}
.page3 .content .core-warp .core-item .picI .after {
  width: 281px;
  height: 65px;
  background: url('../img/cat-image/sprite-img.png');
  background-position: 0 -2075px;
  position: absolute;
  bottom: -62px;
  left: -2px;
  z-index: 9999;
}
.page3 .content .core-warp .core-item:last-child {
  margin-right: 0px;
}
