a {
  text-decoration: none;
}
.body {
  overflow: hidden;
}
.hide {
  display: none;
}
.page3 .title03 {
  background: url("../img/cat-image/title03.png") no-repeat;
}
.page3 .content {
  width: 100%;
  height: 892px;
  margin-top: 30px;
  position: relative;
}
.page3 .content .player {
  width: 860px;
  height: 200px;
  overflow: hidden;
  background-color: #fff;
  border: 1px solid #9e6c37;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
  text-align: center;
}
.page3 .content .player .players {
  width: 2582px;
  height: 200px;
  position: relative;
}
.page3 .content .player .players .playIn {
  width: 860px;
  height: 200px;
  overflow: hidden;
  float: left;
}
.page3 .content .player .players .show {
  display: inline-block;
}
.page3 .content .img-btn a {
  display: inline-block;
  width: 68px;
  height: 88px;
}
.page3 .content .img-btn .left {
  background: url(../img/cat-image/action-left.png);
  position: absolute;
  top: 56px;
}
.page3 .content .img-btn .right {
  background: url(../img/cat-image/action-right.png);
  position: absolute;
  top: 56px;
  right: 0;
}
.page3 .content .title-sub {
  margin-top: 40px;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  color: #9f6c35;
}
.page3 .content .core-warp {
  width: 100%;
  height: 576px;
  margin: 40px -80px 0 0;
}
.page3 .content .core-warp .ci0 {
  position: relative;
}
.page3 .content .core-warp .ci0 .icon-play {
  position: absolute;
  top: 229px;
}
.page3 .content .core-warp .ci1 {
  position: relative;
}
.page3 .content .core-warp .ci1 .icon-play {
  position: absolute;
  top: 229px;
}
.page3 .content .core-warp .ci2 {
  position: relative;
}
.page3 .content .core-warp .ci2 .icon-play {
  position: absolute;
  top: 229px;
}
.page3 .content .core-warp .core-tit {
  text-align: center;
  font-size: 18px;
  color: #9e6c36;
  margin-bottom: 8px;
  font-weight: 700;
}
.page3 .content .core-warp .core-item {
  box-sizing: border-box;
  float: left;
  width: 281px;
  margin-right: 75px;
  position: relative;
}
.page3 .content .core-warp .core-item .pic {
  border: 2px solid #9e6c36;
  border-bottom: none;
}
.page3 .content .core-warp .core-item .pic .picimg {
  width: 100%;
}
.page3 .content .core-warp .core-item .picI {
  width: 281px;
  height: 270px;
  border: 2px solid #9e6c37;
  border-top: none;
  padding-top: 80px;
  border-bottom: none;
  box-sizing: border-box;
  position: relative;
  background: #fff;
  z-index: 333;
  transition: all 0.1s ease-in;
}
.page3 .content .core-warp .core-item .picI .picIn {
  overflow: hidden;
}
.page3 .content .core-warp .core-item .picI .picIn .picspan {
  display: inline-block;
  margin-left: 68px;
  font-size: 18px;
  color: #9e6c36;
  margin-bottom: 8px;
}
.page3 .content .core-warp .core-item .picI .picIn .spanimg1 {
  margin-left: 52px;
}
.page3 .content .core-warp .core-item .picI .picIn .spanimg2 {
  margin-left: 40px;
}
.page3 .content .core-warp .core-item .picI .picIn .tips {
  text-align: center;
  font-size: 14px;
  color: #2f2f31;
  width: 190px;
  margin: 30px auto 0;
}
.page3 .content .core-warp .core-item .picI .picIn .lastpicSpan {
  margin-left: 45px;
}
.page3 .content .core-warp .core-item .picI .picInN .piclit {
  width: 256px;
  margin: 0 auto;
  font-weight: 700;
  color: #9e6c36;
  font-size: 24px;
  text-align: center;
}
.page3 .content .core-warp .core-item .picI .picInN .piclitDiv {
  background: #9e6c36;
  width: 253px;
  height: 1px;
  margin: 0 auto 10px;
  border-bottom: 1px solid #9e6c36;
}
.page3 .content .core-warp .core-item .picI .picInN .piclitDesc {
  line-height: 26px;
  font-size: 14px;
  color: #2f2f31;
  margin: 15px auto 15px;
  width: 247px;
  text-align: justify;
}
.page3 .content .core-warp .core-item .picI .hide {
  display: none;
}
.page3 .content .core-warp .core-item .picI .after {
  width: 281px;
  height: 65px;
  background: url('../img/cat-image/sprite-img.png');
  background-position: 0 -2075px;
  position: absolute;
  bottom: -62px;
  left: -2px;
  z-index: 9999;
}
.page3 .content .core-warp .core-item:last-child {
  margin-right: 0px;
}
.page4 .vido-desc {
  margin-top: 50px;
  position: relative;
}
.page4 .vido-desc .desc {
  width: 769px;
  padding: 0 20px 40px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #9e6c37;
  box-sizing: border-box;
  position: absolute;
  left: 116px;
}
.page4 .vido-desc .desc .p0 {
  display: block;
  color: #9f6c35;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  margin: 22px 0;
}
.page4 .vido-desc .desc .p1 {
  color: #2f2f31;
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
}
.page5 {
  position: relative;
}
.page5 .title05 {
  background: url(../img/cat-image/title05.png) no-repeat;
}
.page5 .titleP {
  text-align: center;
  font-size: 16px;
  color: #2f2f31;
  margin: 18px auto 30px;
}
.page5 .main-btn {
  position: absolute;
  top: 125px;
}
.page5 .page5btn1 {
  background: url(../img/cat-image/main-btn-new-y\ \(1\).png);
  left: 355px;
}
.page5 .page5btn2 {
  left: auto;
  right: 45px;
}
.page5 .search {
  padding-top: 130px;
  width: 1060px;
  margin: 0 auto;
}
.page5 .search #search {
  margin: 0 auto;
  text-indent: 35px;
  vertical-align: top;
  display: inline-block;
  border: 1px solid #dd9b54;
  border-right: none;
  background: #ffefd5;
  font-size: 14px;
  color: #9f6c35;
  width: 254px;
  height: 35px;
}
.page5 .search .searchIn {
  width: 298px;
  margin: 0 auto 58px;
  font-size: 0;
}
.page5 .search .searchBtn {
  display: inline-block;
  width: 40px;
  height: 37px;
  background: 1px solid #dd9b54;
  background: #9f6c35;
  line-height: 35px;
  cursor: pointer;
}
.page5 .search .searchBtn #ser {
  display: inline-block;
  width: 17px;
  height: 16px;
  background: url(//game.gtimg.cn/images/lol/act/a20190702loltftwf/icon-search.png) no-repeat center center;
  transform: translateX(12px) translateY(9px);
  cursor: pointer;
}
.page5 .search .searchMain > span {
  display: inline-block;
  cursor: pointer;
  width: 530px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #d79443;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 20px;
  margin-left: -1px;
  margin-right: -1px;
  vertical-align: bottom;
  margin-bottom: 30px;
  background: url(//game.gtimg.cn/images/lol/act/a20190702loltftwf/p5-tab-a.png) no-repeat center center;
}
.page5 .search .searchMain .onselect {
  background: url(//game.gtimg.cn/images/lol/act/a20190702loltftwf/p5-tab-on.png) no-repeat center center;
  height: 56px;
  line-height: 56px;
}
.page5 .search .searchMain .professionClass {
  height: 122px;
}
.page5 .search .searchMain .professionClass li {
  float: left;
  margin: 0px 18px;
  text-align: center;
  font-size: 14px;
  line-height: 29px;
  cursor: pointer;
}
.page5 .search .searchMain .professionClass li a {
  color: #9f6c35;
}
.page5 .search .searchMain .professionClass li:nth-child(n) a {
  display: inline-block;
}
.page5 .search .searchMain .professionClass li:nth-child(n) a i {
  display: inline-block;
  background-size: contain;
  background-image: url(//game.gtimg.cn/images/lol/act/a20190702loltftwf/icon-fs.png);
  width: 72px;
  height: 75px;
}
.page5 .search .searchMain .professionClass li:nth-child(n) a b {
  display: block;
  width: 7px;
  height: 1px;
  background-color: #9f6c35;
  margin: 9px auto 0;
}
.page5 .search .searchMain .professionClass li:nth-child(2) a i {
  background: url(//game.gtimg.cn/images/lol/act/a20190702loltftwf/icon-ck.png);
}
.page5 .search .searchMain .professionClass li:nth-child(3) a i {
  background: url(//game.gtimg.cn/images/lol/act/a20190702loltftwf/icon-js.png);
}
.page5 .search .searchMain .professionClass li:nth-child(4) a i {
  background-image: url(//game.gtimg.cn/images/lol/act/a20190702loltftwf/icon-ds.png);
}
.page5 .search .searchMain .professionClass li:nth-child(5) a i {
  background-image: url(//game.gtimg.cn/images/lol/act/a20190702loltftwf/icon-yss.png);
}
.page5 .search .searchMain .professionClass li:nth-child(6) a i {
  background-image: url(//game.gtimg.cn/images/lol/act/a20190702loltftwf/icon-hw.png);
}
.page5 .search .searchMain .professionClass li:nth-child(7) a i {
  background-image: url(//game.gtimg.cn/images/lol/act/a20190702loltftwf/icon-qs.png);
}
.page5 .search .searchMain .professionClass li:nth-child(8) a i {
  background-image: url(//game.gtimg.cn/images/lol/act/a20190702loltftwf/icon-qishi.png);
}
.page5 .search .searchMain .professionClass li:nth-child(9) a i {
  background-image: url(//game.gtimg.cn/images/lol/act/a20190702loltftwf/icon-yx.png);
}
.page5 .search .searchMain .tips {
  width: 455px;
  margin-top: 36px;
  color: #2f2f31;
  font-size: 14px;
  height: 82px;
  margin-left: -40px;
}
.page5 .search .relevant {
  width: 1060px;
  height: 400px;
}
.page5 .search .relevant .tit {
  margin-left: -40px;
  color: #9f6c35;
  font-size: 24px;
  font-weight: 700;
  text-align: left;
}
.page5 .search .relevant .tit::after {
  display: block;
  content: "";
  width: 40px;
  height: 4px;
  background: #9f6c35;
  margin: 15px 0 18px;
}
.page5 .search .relevant .hero-list {
  margin-left: -40px;
  width: 1100px;
  height: 63px;
}
.page5 .search .relevant .hero-list .on {
  border: 3px solid #9e6c37;
}
.page5 .search .relevant .hero-list .on .after {
  opacity: 0;
}
.page5 .search .relevant .hero-list li {
  float: left;
  width: 63px;
  height: 63px;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  margin-right: 1px;
}
.page5 .search .relevant .hero-list li img {
  width: 100%;
  height: 100%;
}
.page5 .search .relevant .hero-list li .after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  transform: all 0.3;
}
.page5 .search .relevant .hero-list li:hover .after {
  opacity: 0;
}
.page5 .search .relevant .hero-list li:hover {
  border: 3px solid #9e6c37;
}
.page5 .search .relevant .cont5-bg {
  margin-left: -40px;
  margin-top: 32px;
  position: relative;
  background: url(http://game.gtimg.cn/images/lol/act/a20190702loltftwf/cont5-bg.png);
}
.page5 .search .relevant .cont5-bg .video-wrap {
  width: 497px;
  height: 348px;
  border: 1px solid #d79443;
  box-sizing: border-box;
  position: absolute;
  right: 35px;
  top: -191px;
}
.page5 .search .relevant .cont5-bg .video-wrap img {
  width: 100%;
  height: 100%;
}
.page5 .search .relevant .cont5-bg .video-wrap .aftervideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.page5 .search .relevant .cont5-bg .text-wrap {
  width: 1051px;
  height: 205px;
  padding-top: 25px;
  margin-left: 31px;
}
.page5 .search .relevant .cont5-bg .text-wrap p span {
  display: inline-block;
  width: 170px;
  color: #ffefd5;
  font-size: 14px;
}
.page5 .search .relevant .cont5-bg .text-wrap #price {
  width: 140px;
}
.page5 .search .relevant .cont5-bg .text-wrap #peopleName {
  font-size: 16px;
  color: #ffec8c;
  display: block;
  width: 140px;
  font-weight: 700;
  margin-top: -3px;
  height: 35px;
}
.page5 .search .relevant .cont5-bg .text-wrap .textDesc {
  margin-top: 38px;
}
.page5 .search .relevant .cont5-bg .text-wrap .textDesc #skillImg {
  display: inline-block;
  vertical-align: middle;
  width: 60px;
  height: 60px;
  margin: -3px 15px 0px -3px;
}
.page5 .search .relevant .cont5-bg .text-wrap .textDesc #skillName {
  font-size: 18px;
  color: #ffec8c;
  display: inline-block;
  vertical-align: middle;
  width: 170px;
}
.page5 .search .relevant .cont5-bg .text-wrap .textDesc #skillInfo {
  color: #ffefd5;
  font-size: 14px;
  width: 225px;
  font-weight: normal;
  line-height: 16px;
}
.page7 {
  padding-top: 60px;
  overflow: hidden;
}
.page7 .title07-2 {
  background: url(//game.gtimg.cn/images/lol/act/a20190702loltftwf/title07-2.png);
  width: 508px;
  height: 46px;
  margin-bottom: 40px;
  position: relative;
  z-index: 1;
}
.page7 .tit {
  position: relative;
  font-size: 24px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
}
.page7 .tit::after {
  display: block;
  content: "";
  width: 33px;
  height: 2px;
  background: #ffffff;
  margin: 15px auto 0;
}
.page7 .tit-sub {
  position: relative;
  color: #2f2f31;
  font-size: 16px;
  text-align: center;
  margin: 20px auto;
}
.page7 .egg-list {
  position: relative;
  text-align: left;
}
.page7 .egg-list > li:first-child {
  margin-left: 0;
}
.page7 .egg-list li {
  display: inline-block;
  margin-left: 4px;
  font-size: 0;
  text-align: center;
}
.page7 .egg-list li .txt {
  width: 160px;
  height: 30px;
  background-color: #a76c30;
  position: relative;
  color: #fff2dc;
}
.page7 .egg-list li .txt span {
  font-size: 18px;
  width: 160px;
  position: relative;
  line-height: 30px;
  z-index: 9;
}
.page7 .egg-list li .txt span::after {
  transition: all 0.3s;
  display: block;
  left: 0;
  top: 0;
  content: "";
  opacity: 0;
  position: absolute;
  visibility: hidden;
  background: url(//game.gtimg.cn/images/lol/act/a20190702loltftwf/icon-txt-bg3.png);
  width: 160px;
  height: 51px;
  line-height: 51px;
}
.page7 .add-big-egg {
  text-align: center;
  width: 1000px;
  font-size: 0;
  padding-top: 40px;
}
.page7 .add-big-egg li {
  width: 206px;
  height: 251px;
  display: inline-block;
  margin: 0 17px;
  position: relative;
}
.page7 .add-big-egg li p {
  position: absolute;
  width: 100%;
  height: 46px;
  line-height: 46px;
  bottom: 5px;
  font-size: 22px;
  color: #fff2dc;
}
.page7 .add-big-egg .add-big-li1 {
  background: url(//game.gtimg.cn/images/lol/act/a20190702loltftwf/add-big-egg1.png);
}
.page7 .add-big-egg .add-big-li2 {
  background: url(//game.gtimg.cn/images/lol/act/a20190702loltftwf/add-big-egg2.png);
}
.page7 .add-big-egg .add-big-li3 {
  background: url(//game.gtimg.cn/images/lol/act/a20190702loltftwf/add-big-egg3.png);
}
.page7 .btn-pub {
  display: block;
  font-size: 20px;
  position: relative;
  margin: 19px auto 30px;
  width: 194px;
  background-size: 100% 100%;
  height: 57px;
  line-height: 57px;
  font-weight: bold;
  color: #ffffff;
  background: url(//game.gtimg.cn/images/lol/act/a20190702loltftwf/btn-pub.png) no-repeat center;
  text-align: center;
}
.page7 .tit2 {
  margin-top: 115px;
  margin-bottom: 20px;
}
.page7 .egg-list2 {
  margin: 0px 252px;
}
