.wrapToplis {
  background: url(../img/tab-title-selected.png) center bottom no-repeat;
  color: #1da6ba;
}
.vid {
  background: #e3e2e2;
  width: 100%;
  position: absolute;
  top: 1480px;
  padding-top: 50px;
}
.vid .vidIn {
  height: 470px;
  position: relative;
}
.vidL {
  width: 710px;
  height: 400px;
  position: absolute;
  left: 0;
  top: 0;
}
.vidL .vidLNav h2 {
  position: absolute;
  width: auto;
  height: 28px;
  top: 5px;
  left: 0px;
  box-sizing: border-box;
  color: #0b0b0b;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
}
.vidL .vidLNav h2::before {
  content: '\0020';
  display: inline-block;
  vertical-align: middle;
  width: 4px;
  height: 28px;
  line-height: 28px;
  background-color: #1da6ba;
  margin-right: 5px;
}
.vidL .vidLNav ul {
  height: 40px;
  width: 580px;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 16px;
  color: #676767;
  line-height: 40px;
  border-bottom: 1px solid #ddd;
}
.vidL .vidLNav ul li {
  display: inline-block;
  margin-right: 25px;
  cursor: pointer;
}
.vidL .vidLNav ul li:nth-child(5) {
  position: relative;
  margin-right: 45px;
}
.vidL .vidLNav ul li:nth-child(5) i {
  position: absolute;
  top: 8px;
  width: 30px;
  height: 20px;
  margin: 0 10px 5px 0;
  background: url(../img/comm-spr.png) center center no-repeat;
  background-position-x: -300px;
  background-position-y: -43px;
  transition: all 0.2s cubic-bezier(0.84, -0.77, 0, 3.5);
}
.vidL .vidLNav .vidLNavMor {
  position: absolute;
  right: 0;
  top: 0;
  width: 140px;
  height: 40px;
  color: #ccc;
  font-size: 12px;
  text-align: center;
  line-height: 40px;
}
.vidL .vidLNav .vidLNavMor .vdChange {
  width: 70px;
  height: 40px;
  position: absolute;
  left: 0;
  top: 0;
  color: #7ea1a6;
  box-sizing: border-box;
  padding-right: 10px;
  cursor: pointer;
}
.vidL .vidLNav .vidLNavMor .vdChange:hover {
  color: #1da6ba;
}
.vidL .vidLNav .vidLNavMor .vdChange b {
  color: #7ea1a6;
  width: 15px;
  height: 15px;
  background-position: -369px -46px;
  background-image: url(../img/comm-spr.png);
  background-repeat: no-repeat;
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  margin-top: 2px;
}
.vidL .vidLNav .vidLNavMor .vidMore {
  width: 70px;
  height: 40px;
  position: absolute;
  right: 0;
  top: 0;
  color: #7ea1a6;
  cursor: pointer;
}
.vidL .vidLNav .vidLNavMor .vidMore:hover i {
  right: -2px;
}
.vidL .vidLNav .vidLNavMor .vidMore:hover {
  color: #1da6ba;
}
.vidL .vidLNav .vidLNavMor .vidMore i {
  color: #7ea1a6;
  width: 15px;
  height: 9px;
  background-position-x: -213px;
  background-position-y: -126px;
  background-image: url(../img/comm-spr.png);
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.2s cubic-bezier(0.84, -0.77, 0, 3.5);
}
.vidbody {
  width: 710px;
  height: 340px;
  position: absolute;
  left: 0;
  top: 60px;
}
.vidbody > li:nth-child(2) {
  display: block;
}
.vidbody > li {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}
.vidbody > li ul {
  width: 100%;
  height: 100%;
}
.vidbody > li ul li {
  width: 170px;
  height: 163px;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  position: relative;
  cursor: pointer;
}
.vidbody > li ul li img {
  width: 100%;
}
.vidbody > li ul li .vidliTIn {
  width: 170px;
  height: 5px;
  position: absolute;
  top: 5px;
  left: 0;
  background: rgba(255, 255, 255, 0.5);
  display: none;
}
.vidbody > li ul li .vidliTOut {
  width: 150px;
  height: 5px;
  position: absolute;
  top: 5px;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
  display: none;
}
.vidbody > li ul li:nth-child(4n) {
  margin-right: 0;
}
.vidbody > li ul li .vidlib {
  width: 100%;
  height: 67px;
  position: absolute;
  left: 0;
  bottom: 0;
}
.vidbody > li ul li .vidlib p {
  width: 160px;
  margin-top: 5px;
  font-size: 14px;
  margin: 0 auto;
}
.vidbody > li ul li .vidlib div {
  width: 100%;
  height: 20px;
  line-height: 20px;
  position: absolute;
  bottom: 5px;
  margin: 0 auto;
  font-size: 10px;
  color: #bbb;
}
.vidbody > li ul li .vidlib div span {
  float: left;
  margin-left: 5px;
}
.vidbody > li ul li .vidlib div b {
  font-weight: 400;
  float: right;
  margin-right: 5px;
}
.vidR {
  width: 491px;
  height: 400px;
  position: absolute;
  right: 0;
  top: 0;
}
.vidR .vidRNav {
  height: 35px;
  width: 100%;
  line-height: 35px;
  position: absolute;
  top: 5px;
  left: 0;
}
.vidR .vidRNav h2 {
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 0;
}
.vidR .vidRNav h2::before {
  content: '\0020';
  display: inline-block;
  vertical-align: middle;
  width: 4px;
  height: 28px;
  line-height: 28px;
  background-color: #1da6ba;
  margin-right: 5px;
}
.vidR .vidRNav ul {
  width: 73%;
  height: 35px;
  position: absolute;
  right: 0;
  font-size: 16px;
  color: #676767;
  text-align: center;
  border-bottom: 1px solid #ddd;
}
.vidR .vidRNav ul li {
  width: 35px;
  margin-right: 16px;
  float: left;
  cursor: pointer;
}
.vidR .vidRBody {
  width: 100%;
  height: 336px;
  position: absolute;
  left: 0;
  top: 60px;
  cursor: pointer;
}
.vidR .vidRBody .vidRBtn {
  width: 100%;
  height: 0px;
  position: absolute;
  left: 0;
  top: 80px;
  line-height: 40px;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  user-select: none;
}
.vidR .vidRBody .vidRBtn .vidRBodyL {
  width: 20px;
  height: 40px;
  background: chartreuse;
  position: absolute;
  left: -16px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.vidR .vidRBody .vidRBtn .vidRBodyR {
  width: 20px;
  height: 40px;
  background: chartreuse;
  position: absolute;
  right: -16px;
  text-align: right;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.vidR .vidRBody .vidRBodyIn {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 336px;
  left: 0;
  top: 0;
}
.vidR .vidRBody .vidRBodyIn ul {
  width: 2004px;
  position: absolute;
  top: 0;
  left: 0px;
  display: none;
}
.vidR .vidRBody .vidRBodyIn ul:nth-child(1) {
  display: block;
}
.vidR .vidRBody .vidRBodyIn ul li {
  width: 157px;
  height: 281px;
  position: relative;
  float: left;
  margin-right: 10px;
}
.vidR .vidRBody .vidRBodyIn ul li > img {
  width: 100%;
}
.vidR .vidRBody .vidRBodyIn ul li .vidRBodyOut {
  position: absolute;
  top: 150px;
  width: 100%;
  height: 50px;
  text-align: center;
  color: #fff;
}
.vidR .vidRBody .vidRBodyIn ul li .vidRBodyOut p {
  font-size: 16px;
  margin-bottom: 5px;
}
.vidR .vidRBody .vidRBodyIn ul li .vidRBodyOut span {
  font-size: 12px;
}
.vidR .vidRBody .vidRBodyIn ul li .vidRBodyB {
  height: 65px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #a0a0a0;
}
.vidR .vidRBody .vidRBodyIn ul li .vidRBodyB p {
  font-size: 14px;
  position: absolute;
  top: 0;
  width: 157px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.vidR .vidRBody .vidRBodyIn ul li .vidRBodyB img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  left: 0;
}
.vidR .vidRBody .vidRBodyIn ul li .vidRBodyB span {
  display: inline-block;
  height: 30px;
  font-size: 12px;
  line-height: 30px;
  position: absolute;
  bottom: 0;
  left: 40px;
}
.vidR .vidRBot {
  width: 490px;
  height: 50px;
  position: absolute;
  left: 0;
  bottom: 0;
  box-sizing: border-box;
  border: 1px solid #ab8e66;
  color: #ab8e66;
  cursor: pointer;
}
.vidR .vidRBot:hover {
  background: #fff;
}
.vidR .vidRBot:hover i {
  right: 166px;
}
.vidR .vidRBot div {
  width: 486px;
  height: 46px;
  border: 1px solid #bbb;
  box-sizing: border-box;
  margin-top: 1px;
  margin-left: 1px;
}
.vidR .vidRBot div div {
  width: 482px;
  height: 42px;
  line-height: 42px;
  font-size: 16px;
  text-align: center;
  border: 1px solid #ab8e66;
  box-sizing: border-box;
  margin-top: 1px;
  margin-left: 1px;
}
.vidR .vidRBot div div i {
  color: #7ea1a6;
  width: 15px;
  height: 9px;
  background-position: -362px;
  background-position-y: -99px;
  background-image: url(../img/comm-spr.png);
  background-repeat: no-repeat;
  position: absolute;
  right: 170px;
  top: 55%;
  transform: translateY(-50%);
  transition: all 0.2s cubic-bezier(0.84, -0.77, 0, 3.5);
}
.match {
  width: 100%;
  position: absolute;
  top: 2000px;
  padding-top: 50px;
}
.match .matchIn {
  width: 1230px;
  margin: auto;
  position: relative;
}
.match .matchIn .matchNav {
  height: 35px;
  line-height: 35px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  user-select: none;
}
.match .matchIn .matchNav h2 {
  position: absolute;
  width: auto;
  height: 28px;
  top: 5px;
  left: 0px;
  box-sizing: border-box;
  color: #0b0b0b;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
}
.match .matchIn .matchNav h2::before {
  content: '\0020';
  display: inline-block;
  vertical-align: middle;
  width: 4px;
  height: 28px;
  line-height: 28px;
  background-color: #1da6ba;
}
.match .matchIn .matchNav ul {
  height: 35px;
  width: 1100px;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 16px;
  color: #676767;
  line-height: 40px;
  border-bottom: 1px solid #ddd;
}
.match .matchIn .matchNav ul li {
  display: inline-block;
  margin-right: 65px;
  cursor: pointer;
}
.match .matchIn .matchNav .matchR {
  width: 220px;
  height: 35px;
  position: absolute;
  top: 0;
  right: 0;
}
.match .matchIn .matchNav .matchR div {
  cursor: pointer;
}
.match .matchIn .matchNav .matchR div:hover > a {
  text-decoration: solid;
  color: gold;
}
.match .matchIn .matchNav .matchR div img {
  width: 25px;
  height: 25px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.match .matchIn .matchNav .matchR div a {
  font-size: 16px;
  font-weight: 700;
  color: #b0b0b0;
  position: absolute;
  left: 35px;
}
.match .matchIn .matchNav .matchR span {
  width: 70px;
  position: absolute;
  right: 0;
  height: 35px;
  text-align: center;
  font-size: 12px;
  color: #7ea1a6;
  cursor: pointer;
}
.match .matchIn .matchNav .matchR span:hover {
  color: #1da6ba;
}
.match .matchIn .matchNav .matchR span:hover i {
  right: 0;
}
.match .matchIn .matchNav .matchR span i {
  width: 15px;
  height: 9px;
  background-position-x: -213px;
  background-position-y: -126px;
  background-image: url(../img/comm-spr.png);
  background-repeat: no-repeat;
  position: absolute;
  right: 4px;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.2s cubic-bezier(0.84, -0.77, 0, 3.5);
}
.match .matchIn .matchBody {
  width: 100%;
  position: absolute;
  left: 0;
  top: 60px;
}
.match .matchIn .matchBody .matchB1 {
  height: 616px;
  width: 100%;
  margin-bottom: 50px;
  position: absolute;
  left: 0;
  top: 0;
}
.match .matchIn .matchBody .matchB1 .matchB1BO1 {
  width: 514px;
  height: 232px;
  position: absolute;
  left: 0;
  top: 0px;
  user-select: none;
}
.match .matchIn .matchBody .matchB1 .matchB1BO1 > .BO1Btn {
  width: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  height: 0px;
  cursor: pointer;
  color: #fff;
  font-size: 25px;
  text-align: center;
  user-select: none;
  z-index: 3;
}
.match .matchIn .matchBody .matchB1 .matchB1BO1 > .BO1Btn > .BO1BtnL {
  width: 20px;
  line-height: 40px;
  height: 40px;
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  left: -6px;
  top: 0;
  border-radius: 5px;
  cursor: pointer;
  display: none;
}
.match .matchIn .matchBody .matchB1 .matchB1BO1 > .BO1Btn > .BO1BtnR {
  width: 20px;
  line-height: 40px;
  height: 40px;
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  right: -10px;
  top: 0;
  cursor: pointer;
  border-radius: 5px;
}
.match .matchIn .matchBody .matchB1 .matchB1BO1 > h3 {
  width: 100%;
  height: 35px;
  position: absolute;
  top: 0;
  left: 0;
  line-height: 35px;
}
.match .matchIn .matchBody .matchB1 .matchB1BO1 > h3 > p {
  color: #29a2b4;
  height: 100%;
  position: absolute;
}
.match .matchIn .matchBody .matchB1 .matchB1BO1 > h3 > span {
  height: 100%;
  position: absolute;
  left: 50px;
  color: #b0b0b0;
  font-weight: 400;
}
.match .matchIn .matchBody .matchB1 .matchB1BO1 > .BO1UL {
  height: 197px;
  width: 500px;
  overflow: hidden;
  position: absolute;
  left: 8px;
  bottom: 0;
  user-select: none;
}
.match .matchIn .matchBody .matchB1 .matchB1BO1 > .BO1UL > ul {
  width: 6000px;
  height: 100%;
  position: absolute;
  left: 0;
  transform: translateX(5px);
  top: 0;
}
.match .matchIn .matchBody .matchB1 .matchB1BO1 > .BO1UL > ul > li {
  width: 240px;
  height: 100%;
  float: left;
  position: relative;
  background: #fff;
  margin-right: 10px;
}
.match .matchIn .matchBody .matchB1 .matchB1BO1 > .BO1UL > ul > li .BO1top {
  height: 28px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  line-height: 28px;
  color: #fff;
  font-size: 14px;
  background-image: url('https://ossweb-img.qq.com/images/lol/v3/gamelist-top-ware.png');
  background-color: #aaa;
}
.match .matchIn .matchBody .matchB1 .matchB1BO1 > .BO1UL > ul > li .BO1top > span:nth-child(1) {
  margin-left: 12px;
  float: left;
  font-weight: 700;
}
.match .matchIn .matchBody .matchB1 .matchB1BO1 > .BO1UL > ul > li .BO1top > span:nth-child(2) {
  margin-right: 12px;
  float: right;
}
.match .matchIn .matchBody .matchB1 .matchB1BO1 > .BO1UL > ul > li .BO1top > span:nth-child(3) {
  margin-right: 12px;
  float: right;
}
.match .matchIn .matchBody .matchB1 .matchB1BO1 > .BO1UL > ul > li .BO1body {
  height: 212px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}
.match .matchIn .matchBody .matchB1 .matchB1BO1 > .BO1UL > ul > li .BO1body img {
  position: absolute;
  top: 0;
  width: 100%;
}
.match .matchIn .matchBody .matchB1 .matchB1BO1 > .BO1UL > ul > li .BO1body .BO1imgL {
  width: 50px;
  height: 80px;
  position: absolute;
  left: 10px;
  top: 60px;
}
.match .matchIn .matchBody .matchB1 .matchB1BO1 > .BO1UL > ul > li .BO1body .BO1imgL > span {
  height: 30px;
  line-height: 30px;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  font-size: 16px;
  font-weight: 700;
}
.match .matchIn .matchBody .matchB1 .matchB1BO1 > .BO1UL > ul > li .BO1body .BO1imgR {
  width: 50px;
  height: 80px;
  position: absolute;
  right: 10px;
  top: 60px;
}
.match .matchIn .matchBody .matchB1 .matchB1BO1 > .BO1UL > ul > li .BO1body .BO1imgR span {
  height: 30px;
  line-height: 30px;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  font-size: 16px;
  font-weight: 700;
}
.match .matchIn .matchBody .matchB1 .matchB1BO1 > .BO1UL > ul > li .BO1body > b {
  width: 100px;
  height: 50px;
  position: absolute;
  top: 55px;
  left: 50%;
  transform: translateX(-50%);
  line-height: 50px;
  font-size: 30px;
  font-weight: 900;
  text-align: center;
}
.match .matchIn .matchBody .matchB1 .matchB1BO1 > .BO1UL > ul > li .BO1body > a {
  width: 80px;
  height: 25px;
  border: 1px solid #aaa;
  font-size: 14px;
  line-height: 25px;
  color: #424242;
  position: absolute;
  top: 110px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
.match .matchIn .matchBody .matchB1 .matchB1BO1 > .BO1UL > ul > li .BO1body > a:hover {
  color: #fff;
  background: #aaa;
}
.match .matchIn .matchBody .matchB1 .matchB1BO1 > .BO1UL > ul > li .BO1body > p {
  width: 100%;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  text-align: center;
  color: #727272;
  position: absolute;
  top: 150px;
}
.match .matchIn .matchBody .matchB1 .matchB1BO1 > .BO1UL > ul > li .BO1body > span {
  width: 100%;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  text-align: center;
  color: #727272;
  position: absolute;
  top: 170px;
}
.match .matchIn .matchBody .matchB1 .matchB1jifen {
  width: 514px;
  height: 313px;
  background: gold;
  position: absolute;
  left: 0;
  bottom: 0;
}
.match .matchIn .matchBody .matchB1 .matchB1BO2 {
  width: 240px;
  height: 556px;
  position: absolute;
  top: 0px;
  left: 550px;
}
.match .matchIn .matchBody .matchB1 .matchB1BO2 div {
  width: 100%;
  height: 124px;
  margin-bottom: 20px;
  background: blueviolet;
}
.match .matchIn .matchBody .matchB1 .matchB1jinji {
  width: 371px;
  height: 556px;
  position: absolute;
  right: 0;
  top: 0px;
}
.match .matchIn .matchBody .matchB1 .matchB1jinji > div {
  position: absolute;
  left: 0;
  top: 40px;
  width: 100%;
  height: 476px;
}
.match .matchIn .matchBody .matchB1 .matchB1jinji > div > div {
  width: 100%;
  height: 44px;
  position: absolute;
  background: fuchsia;
  left: 0;
}
.match .matchIn .matchBody .matchB1 .matchB1jinji > div > div:last-child {
  bottom: 0;
}
.match .matchIn .matchBody .matchB1 .matchB1jinji > div > div:nth-child(3) {
  bottom: 142px;
}
.match .matchIn .matchBody .matchB1 .matchB1jinji > div > div:nth-child(2) {
  top: 142px;
}
