.md{
    width: 1230px;
    margin:0 auto;
}
body{
    position: relative;
    background: #eee;
    font-size: 0;
}
.box{
    position: absolute;
    top: 0;
    width: 100%;
}
.navigation{
    position: absolute;
    top: 0;
    width: 100%;
    height: 80px;
    background: -webkit-linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0.2));
}
.navIn{
    height: 80px;
}
.box>.imgBox{
    height: 720px;
    width: 100%;
    overflow: hidden;
    min-width: 1230px;
    position: absolute;
    top: 0;
    background: center top no-repeat;
}
.box>.imgBox>img:first-child{
    width: 1920px;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -960px;
    pointer-events: none;
    overflow: hidden;
}
.box>.imgBox>img:nth-child(2){
    position: absolute;
    left: 50%;
    top: 0;
    opacity: 0;
    width: 1920px;
    height: 720px;
    margin-left: -960px;
    transition: all 1 linear;
}
.box>.imgBox>p{
    width: 160px;
    height: 40px;
    background: rgba(0,0,0,0.7);
   position: absolute;
   top:590px;
   left: 50%;
   margin-left: -80px;
   text-align: center;
   line-height: 40px;
   font-size: 16px;
   cursor: pointer;
}
.box>.imgBox>p>a{
    color:#caaa61;
}
.descLOL{
    position: absolute;
    top: 630px;
    right: 0 ;
    font-size: 12px;
}
.descLOL>span{
    display: inline-block;
}
.descLOL>span:nth-child(2){
    color:#caaa61;
}
.descLOL>span:nth-child(1){
    color:#b0a0a9;
}
.descLOL>span:nth-child(3){
    width: 80px;
    height: 20px;
    background:rgba(0,0,0,0.5) ;
    line-height: 20px;
    text-align: center;
    color:#caaa61;
    border:2px solid #caaa61;
    margin-left: 5px;
    cursor: pointer;
}
.descLOL>span:nth-child(3):hover{
    background:rgba(0,0,0,0.8) ;
}
.logo{
    float: left;
    height: 80px;
    line-height: 80px;
    width: 166px;
}
.logo p{
    display: none;
}
.logo img{
    width: 100%;
    height: 60px;
    margin-top: 10px;
}
.navL{
    float: left;
    height: 80px;
    position: relative;
}
.navLeft{
    float: left;
}
.navLeft>li{
    margin-top: 20px;
    float: left;
    width: 135px;
    text-align: center;
}
.navLeft>li>a>h3{
    color:#fff;
    height: 26px;
    line-height:26px;
    font-size: 18px;
    font-weight: 400;
}
.navLeft>li>a>p{
    color:#fff;
    height: 16px;
    line-height:16px;
    font-size: 11px;
    font-weight: 200;
}
.navRight{
    float: right;
    /* background: red; */
    height: 80px;
    line-height: 80px;
}
.search{
    float: left;
    width: 40px;
    margin-right: 10px;
}
.search span{
    font-size: 25px;
    font-weight: 800;
    color:#cdbe91;
}

.phone{
    float: left;
    width: 40px;
    margin-right: 10px;
    position: relative;
}
.phone span{
    font-size: 25px;
    color:#cdbe91;
}
.logIn{
    float: left;
    height: 80px;
    line-height: 80px;
    font-size: 16px;
    position: relative;
}
.logIn>span{
    color:#fff;
    float: left;
}
.logIn>img{
    float: left;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-top: 20px;
    margin-right: 10px;
}
.logIn>a{
    color:#cdbe91;
    float: left;
}
.phoneLOL{
    background: rgba(0,0,0,0.7);
    position: absolute;
    top: 80px;
    left: -70px;
    width: 200px;
    height:160px;
    /* right: 180px;
    top: 80px; */
    padding: 20px 50px;
    box-sizing: border-box;
    z-index: 3;
    opacity: 0;
    transition: all 0.5s linear;
    display: none;
}
.phoneLOL>img:first-child{
    width: 100px;
    height: 100px;
    border-radius: 10px;
}
.phone:hover .phoneLOL{
    display: block;
    opacity: 1;
}
.phoneLOL>p{
    font-size: 12px;
    width: 120px;
    color:#cdbe91;
    position: absolute;
    top:100px;
    left: 35px;
}
.phoneLOL>img:last-child{
    position: absolute;
    right: -5px;
    bottom: 0;
}
.logInBox{
    width: 300px;
    height: 160px;
    z-index: 2;
    opacity: 0;
    position: absolute;
    right: -15px;
    top: 80px;
    color:#cdbe91;
    display: none;
    text-align: center;
    background: rgba(0,0,0,0.5);
    font-size: 12px;
    transition: all 0.5s linear;
}
.logIn:hover .logInBox{
    display: block;
    opacity: 1;
}
.logInBox>p:last-child{
    height: 50px;
    line-height: 50px;
    background: rgba(0,0,0,0.7);
    position: absolute;
    bottom: 0;
    width: 100%;
    cursor: pointer;
}
.logInBox>p:first-child{
    height: 25px;
    left: 25px;
}
.logInBox>p:nth-child(3){
    height: 25px;
    left: 25px;
    margin-bottom: 10px;
}
.logInBox>p:nth-child(2){
    height: 25px;
    left: 25px;
    margin-bottom: 10px;
}
.deve{
    width: 100%;
    height: 280px;
    z-index: 4;
    background: rgba(0,0,0,0.2);
    transition: all 0.5s linear;
    display: none;
    opacity: 0;
    position: absolute;
    top: 80px;
}
.develop{
    position: absolute;
    top: 80px;
    left: 0px;
    width:800px;
    height: 260px;
    padding: 20px 0;
    z-index: 5;
    display: none;
}
.develop>li{
    float: left;
    width: 135px;
    text-align: center;
}
.develop>li>a{
    display: block;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #fff;
}
.develop>li>a:hover{
    color:rgb(255, 208, 0);
    text-decoration: underline;
}
.wrap{
    
    position: absolute;
    top: 680px;
    left: 50%;
    transform: translateX(-50%);
}
.wrapIn{
    width: 1230px;
    height: 600px;
    margin:0 auto;
}
.swper{
    float: left;
    width: 710px;
    height: 380px;
    overflow: hidden;
}
.swper ul{
    width: 710px;
    height: 340px;
}
.swper ul>li{
    width: 710px;
    height: 340px;
    position: absolute;
    top: 0;
    left: 0;
}
.swper ul>li>img{
    width: 100%;
    height: 100%;
}
.sp{
    display: inline-block;
    width: 142px;
    height: 40px;
    background: #e3e2e2;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
   cursor: pointer;
}
.swperp{
    box-sizing: border-box;
    background: #fff;
    border-bottom: 2px solid#cea861 ;
}
.wrapRight{
    width: 490px;
    height: 380px;
    position: absolute;
    top: 0;
    right: 0;
}
.wrapTop{
    display: flex;
    justify-content:space-between;
}
.wrapTop>li{
    width: 50px;
    font-size: 18px;
   cursor: pointer;
    font-weight: 700;
    height: 34px;
    line-height: 24px;
    color:#676767;
    float: left;
    text-align: center;
}
.wrapTop>li.wrapToplis{
    background: url(../img/tab-title-selected.png) center bottom no-repeat;
    color:#1da6ba;
}
.wrapbody{
    width: 490px;
    height: 305px;
    position: relative;
}
.wrapbody>.wrap1{
    width: 490px;
    height: 305px;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 14px;
}

.wrapbody>.wrap1:nth-child(4),.wrapbody>.wrap1:nth-child(2),.wrapbody>.wrap1:nth-child(3),.wrapbody>.wrap1:nth-child(5){
    display: none;
}

.wrap1>li:nth-child(1){
    height: 59px;
    line-height: 59px;
    text-align: center;
    background: url(../img/index-spr.png) center center no-repeat;
    background-position:left -458px;
    border-top: 1px #e0e2e2 solid;
}
.wrap1>li:nth-child(1) a{
    font-size: 22px;
    color:#1da6ba;
    text-align: center;
}
.wrap1>li>a{
    font-size: 14px;
    color:#424242;
}
.wrap1>li>span:nth-child(1){
    font-size: 12px;
    margin-right: 20px;
    float: left;
    padding:1px 5px;
    margin-top: 10px;
}
.wrap1>li>span:nth-child(3){
    float: right;
}
.wrapLi{
    height: 39px;
    border-top: 1px #e0e2e2 solid;
    line-height: 39px;
}
.wrapfoot{
    height: 40px;
    background: #e3e2e2;
    width: 100%;
    position: absolute;
   bottom: 0;
   font-size: 14px;
   color:#323232;
   line-height: 40px;
   text-align: center;
   cursor: pointer;
   user-select: none;
}
.wrapfoot:hover{
    background: #ddd;
}
.wrapfoot>span:nth-child(2){
    color:#7ea1a6;
}
.wrapfoot>.wrapfootimg{
    display: inline-block;
    width: 15px;
    height: 9px;
    line-height: 9px;
    margin-left: 5px;
    background: url(../img/comm-spr.png) center center no-repeat;
    background-position-x: -213px;
    background-position-y:-126px ;
    /* background-color: chartreuse; */
}
.wrap1>li:nth-child(2n)>span:nth-child(1){
    height: 18px;
    line-height: 18px;
    border:1px solid #bb9a6c;
    color:#bb9a6c;
}
.wrap1>li:nth-child(2n+1)>span:nth-child(1){
    height: 18px;
    line-height: 18px;
    border:1px solid #e9852d;
    color:#e9852d;
}
.wrap1>li:nth-child(2n):hover a{
    color:#bb9a6c;
}
.wrap1>li:nth-child(2n+1):hover a{
    color:#e9852d;
}

.wrap2>li>span:nth-child(1){
    height: 18px;
    line-height: 18px;
    border:1px solid #bb9a6c !important;
    color:#bb9a6c !important;
}
.wrap2>li:hover a{
    color:#bb9a6c !important;
}


.wrap4>li>span:nth-child(1){
    height: 18px;
    line-height: 18px;
    border:1px solid #4ba36a !important;
    color:#4ba36a !important;
}

.wrap4>li:hover a{
    color:#4ba36a !important;
}
.wrap5>li:nth-child(1){
    white-space: nowrap;
    text-overflow: ellipsis;
}

.active{
    width: 710px;
    height: 335px;
    position: absolute;
    top: 420px;
}
.actNavh2{
    
    width: auto;
    height: 37px;
    float: left;
    box-sizing: border-box;
    color: #0b0b0b;
    font-size: 24px;
    line-height: 37px;
    font-weight: 400;
}
.actNavul{
    width: 600px;
    height: 37px;
    line-height: 37px;
    float: right;
    text-align: center;
}
.actNavul>li{
    font-size: 16px;
    float: left;
    margin-left: 20px;
    color:#676767;
    cursor: pointer;
}
.lod{
    width: 490px;
    height: 335px;
    background: chartreuse;
    position: absolute;
    top: 420px;
    right: 0;
}

.actNavul>li.wrapToplis{
    background: url(../img/tab-title-selected.png) center bottom no-repeat;
    color:#1da6ba;
}
.actNavright{
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 30px;
    color: #7ea1a6;
    font-size: 12px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}
.actNavright:hover{
    color:#1da6ba;
}
.actNavright>i{
    width: 16px;
    height: 9px;
    display: inline-block;
    background: url(../img/comm-spr.png) center center no-repeat;
    background-position-x: -213px;
    background-position-y:-126px ;
}
.actNavh2:before {
    content: '\0020';
    display: inline-block;
    vertical-align: middle;
    *zoom: 1;
    *display: inline;
    width: 4px;
    height: 28px;
    background-color: #1da6ba;
    margin-right: 10px;
}
.actbody{
    width: 100%;
    height: 278px;
    position: absolute;
    top: 60px;
    display: none;
}
.actbody.actbodycur{
    display: block;
}
.actbody>li{
    width: 170px;
    height: 250px;
    float: left;
    font-size: 14px;
    background: #fff;
    margin-right: 10px;
    position: relative;
    cursor: pointer;
    transition: all 0.2s linear;
}
.actbody>li:last-child{
    margin-right: 0;
}
.actbody img{
    width: 100%;
    height: 182px;
}
.actbody p{
    height: 28px;
    line-height: 28px;
    text-indent: 10px;
}
.actbodyFoot{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 12px;
    color:#1da6ba;
}
.actbodyFoot>span{
    float: left;
    margin:0 0 5px 10px;
    font-weight: 200;
}
.actbodyFoot>i{
    float: right;
    width: 30px;
    height: 20px;
    margin:0 10px 5px 0;
    background: url(../img/comm-spr.png)center center no-repeat;
    background-position-x: -300px;
    background-position-y: -43px;
}
.imgup{
    width: 100%;
    height: 182px;
    background: rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
.imgupin{
    width: 90%;
    height: 90%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border:1px solid rgba(255, 219, 76, 1);
    font-size: 16px;
   
}
.imgupin>h4{
    font-size: 16px;
    font-weight: 400;
    color: #cdbe91;
    text-align: center;
    margin-top: 50px;
}
.imgupin>p{
    font-size: 12px;
    color: #9d9c9c;
    overflow: hidden;
}
.actbody>li:hover .imgup{
    display: block;
}
.actbody>li:hover{
    transform: translateY(-10px);
}
.download{
    width: 490px;
    height: 310px;
    position: absolute;
    top: 420px;
    right: 0;
    font-size: 14px;
}
.downloadIn{
    width: 360px;
    height: 150px;
    float: left;
    margin-bottom: 15px;
}
.novice{
    width: 118px;
    height: 75px;
    float: right;
    margin-bottom: 15px;
    background: url(../img/index-spr.png) center center no-repeat;
    background-size: 638px 572px;
    background-position: -193px -316px;
    color:#fff;
    
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    line-height: 75px;
    overflow: hidden;
}
.gain{
    width: 118px;
    height: 75px;
    float: right;
    background: url(../img/index-spr.png) center center no-repeat;
    background-size: 638px 572px;
    background-position: -193px -316px;
    color:#fff;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    line-height: 76px;
    overflow: hidden;
}
.dowLod{
    width: 490px;
    height: 150px;
    float: left;
    margin-top: 5px;
   
    /* display: flex; */
    
}
.dowLod li{
    width: 115px;
    height: 60px;
    float: left;
    background: #fff;
    margin-right: 10px;
    margin-top: 10px;
}
.dowLod li:nth-child(4),.dowLod li:nth-child(8){
    margin-right: 0;
}
.downloadIn>video{
    width: 360px;
    height: 165px;
    float: left;
}

