.hide {
  display: none;
}
.match-show {
  width: 1230px;
  height: 700px;
}
.mode3 {
  position: relative;
}
.part-h2-title {
  position: absolute;
  width: auto;
  height: 28px;
  top: 5px;
  left: 0;
  box-sizing: border-box;
  color: #0b0b0b;
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
}
.part-tab-title {
  overflow: hidden;
  padding-left: 130px;
  border-bottom: 1px solid #e0e2e2;
}
.selected_1 {
  margin-right: 54px;
  list-style: none;
  position: relative;
  cursor: pointer;
  float: left;
  width: auto;
  min-width: 40px;
  height: 37px;
  overflow: hidden;
  /* color: #676767; */
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 35px;
  text-align: center;
}

.selected_1:hover {
  font-weight: 700;
  color: #1da6ba;
}
.toptip-event {
  position: absolute;
  top: 0;
  right: 61px;
  width: auto;
  height: 35px;
  line-height: 35px;
  font-size: 16px;
  font-weight: 700;
  color: #676767;
}
.toptip-event > img {
  display: inline-block;
  vertical-align: middle;
  *zoom: 1;
  *display: inline;
  width: 25px;
  height: 25px;
  margin: -2px 4px 0 0;
}
.m-first {
  width: 550px;
  height: 556px;
  float: left;
}
.recent-gamelist2 {
  width: 550px;
}
.recent-gamelist {
  height: auto;
  position: relative;
}
.match-part-name {
  text-align: left;
  color: rgb(41, 162, 180);
  font-size: 16px;
  font-weight: 700;
  box-sizing: border-box;
  padding-left: 1px;
}
.match-part-name > a {
  margin-left: 10px;
  font-weight: 400;
  color: rgb(103, 103, 103);
  line-height: 35px;
  text-align: left;
  font-size: 16px;
}
.gamelist-item1 {
  width: 259px !important;
  height: 198px;
  display: inline-block;
  margin-right: 16px;
  position: relative;
  background-color: rgb(254, 254, 254);
  float: left;
}
.gamelist-item-topbar {
  background: -webkit-linear-gradient(
    left,
    rgb(173, 173, 173),
    rgb(193, 192, 192)
  );
  width: 100%;
  height: 28px;
  box-sizing: border-box;
  font-size: 16px;
  color: #fff;
  line-height: 28px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.g_p_span1,
.g_p_span2,
.g_p_span3 {
  font-size: 16px;
  color: #fff;
  line-height: 28px;
  font-weight: 700;
  margin-left: 12px;
  position: relative;
}
.gamelist-team-a {
  position: absolute;
  left: 6px;
  top: 38px;
  width: 85px;
  height: 85px;
  text-align: center;
  overflow: hidden;
}
.gamelist-team-a_1 {
  display: block;
  width: 85px;
  height: 65px;
  line-height: 65px;
  text-align: center;
}
.gamelist-team-a_1 > img {
  display: inline-block;
  vertical-align: middle;
  max-width: 50px;
  width: auto;
  height: auto;
  border: 0;
}
.gamelist-team-a_2 {
  color: rgb(56, 81, 85);
  font-size: 18px;
  line-height: 20px;
  text-align: center;
}
.gamelist-team-b {
  position: absolute;
  right: 6px;
  top: 38px;
  width: 85px;
  height: 85px;
  text-align: center;
  overflow: hidden;
}
.gamelist-team-b_1 {
  display: block;
  width: 85px;
  height: 65px;
  line-height: 65px;
  text-align: center;
}
.gamelist-team-b_1 > img {
  display: inline-block;
  vertical-align: middle;
  max-width: 50px;
  width: auto;
  height: auto;
  border: 0;
}
.gamelist-team-b_2 {
  color: rgb(56, 81, 85);
  font-size: 18px;
  line-height: 20px;
  text-align: center;
}
.gamelist-score {
  display: block;
  width: 86px;
  height: 40px;
  color: rgb(23, 23, 23);
  font-weight: 700;
  text-align: center;
  line-height: 40px;
  position: absolute;
  top: 54px;
  left: 50%;
  font-size: 0px;
  margin-left: -43px;
}
.gamelist-score > a {
  font-size: 34px;
  margin: 0px 2px;
}
.gameover {
  display: block;
  width: 86px;
  height: 29px;
  line-height: 29px;
  text-align: center;
  box-sizing: border-box;
  color: rgb(114, 114, 114);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(114, 114, 114);
  border-image: initial;
  margin: 105px auto 0px;
  transition: background-color 0.2s ease 0s;
}
.rsgp1 {
  margin-top: 12px;
  width: 100%;
  line-height: 1.5;
  font-size: 12px;
  text-align: center;
  color: rgb(114, 114, 114);
}
.rsgp2 {
  margin-top: 12px;
  width: 100%;
  line-height: 1.5;
  font-size: 12px;
  text-align: center;
  color: rgb(114, 114, 114);
}
.score-rank-534 {
  margin-top: 51px;
  width: 534px;
  height: auto;
  position: absolute;
  top: 230px;
  left: 0;
}
.part-top-tab2 {
  width: 100%;
  height: 35px;
  overflow: visible;
}
.part-h2-tit2 {
  height: 28px;
  color: #0b0b0b;
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
  display: inline-block;
}
.part-tab-tit2 {
  position: absolute;
  top: 0px;
  width: 440px;
  left: 93px;
  height: 35px;
  box-sizing: border-box;
  border-bottom: 1px #e0e2e2 solid;
}
.selected_2 {
  position: relative;
  cursor: pointer;
  float: left;
  min-width: 40px;
  height: 37px;
  overflow: hidden;
  color: #676767;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 35px;
  text-align: center;
  margin-right: 50px;
}
.selected_2:hover {
  font-weight: 700;
  color: #1da6ba;
}
.score-rank-content2 {
  height: 257px;
  margin-top: 21px;
}
.score-rank-list-title2 {
  height: 32px;
  line-height: 32px;
  box-sizing: border-box;
  color: rgb(21, 21, 23);
  font-size: 16px;
  font-weight: 400;
  background-color: rgb(224, 224, 224);
  padding: 0px 18px;
}
.score-rank-list-title2 > a {
  float: left;
}
.score-rank-list-title2 .a-1 {
  width: 44px;
}
.score-rank-list-title2 .a-2 {
  width: 124px;
  margin-left: 69px;
}
.score-rank-list-title2 .a-3 {
  width: 100px;
  text-align: center;
  margin-left: 45px;
}
.score-rank-list-title2 .a-4 {
  float: right;
  width: 44px;
  text-align: center;
}
.score-rank-list-container2 {
  background-color: rgb(254, 254, 254);
  position: relative;
  overflow: hidden;
  height: 183px;
  width: 534px;
}
.srlc {
  height: auto;
  box-sizing: border-box !important;
  padding: 0px 18px;
}
.srlc_1 {
  height: 46px;
  line-height: 46px;
  box-sizing: border-box;
  overflow: hidden;
  list-style: none;
  border-bottom: 1px solid rgb(224, 226, 226);
}
.a-1-strong {
  float: left;
  width: 44px;
  height: 46px;
  text-align: center;
}
.a-2-strong {
  height: 46px;
  float: left;
  width: 124px;
  margin-left: 69px;
  font-size: 16px;
  color: rgb(21, 21, 23);
}
.a-2-strong img {
  display: inline-block;
  vertical-align: middle;
  width: 25px;
  height: auto;
  margin: -2px 12px 0px 0px;
}
.a-3-strong {
  float: left;
  width: 100px;
  text-align: center;
  margin-left: 45px;
  font-size: 16px;
  color: rgb(95, 141, 148);
}
.a-4-strong {
  float: right;
  width: 44px;
  text-align: center;
  font-size: 16px;
  color: rgb(95, 141, 148);
}
.left_l {
  position: absolute;
  display: block;
}
.right_r {
  display: block;
  position: absolute;
  right: 15px;
}
.right_r,
.left_l {
  display: block;
  bottom: -130px;
  width: 23px;
  height: 51px;
  background: #ccc;
  text-align: center;
  line-height: 51px;
  border-radius: 5px;
}
.m-second {
  float: right;
  width: 656px;
  height: 556px;
  overflow: hidden;
}
.second-gamelist {
  width: 261px;
  height: 556px;
  overflow: hidden;
  float: left;
  color: #666;
  font-size: 16px;
}
.list-team {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}
.list-team > h3 {
  width: 100%;
  height: 35px;
  line-height: 35px;
  text-align: left;
  color: #29a2b4;
  font-size: 16px;
  font-weight: 700;
  box-sizing: border-box;
  padding-left: 1px;
}
.info {
  width: 100%;
  height: 20px;
  margin-bottom: 7px;
}
.info .state {
  background-color: #bcbcbc;
  float: left;
  height: 15px;
  line-height: 15px;
  padding: 0 2px;
  font-size: 12px;
  color: #fff;
  border-radius: 2px;
  margin-top: 3px;
}
.info .time {
  float: left;
  margin-left: 10px;
  height: 15px;
  line-height: 15px;
  color: #676767;
  font-size: 12px;
  margin-top: 3px;
}
.list-team-data,
.list-team-video {
  display: block;
  float: right;
  border: 1px solid #676767;
  font-size: 13px;
  color: sandybrown;
  margin-right: 10px;
  box-sizing: border-box;
  padding: 1px;
}
.s-g-t-1 {
  width: 261px;
  height: 44px;
  background: #fff;
}
.s-g-t-1 span {
  width: 40px;
  height: 40px;
  display: inline-block;
  overflow: hidden;
  margin-top: 2px;
  margin-left: 5px;
  float: left;
}
.s-g-t-1 span img {
  width: 30px;
  height: 30px;
  margin-left: 3px;
}
.s-team-name {
  width: 40px;
  margin: 0 5px;
  color: #aaa;
}
.s-team-list {
  width: 30px;
  float: right;
  color: #fff;
  background: #86a2ad;
}
.s-team-list,
.s-team-name {
  display: inline-block;
  height: 44px;
  text-align: center;
  line-height: 44px;
}

.m-s-winer {
  float: left;
  padding-top: 84px;
  height: 473px;
  overflow: hidden;
  height: 556px;
  box-sizing: border-box;
}
.m-winer {
  width: 350px;
  height: 44px;
  margin-left: 42px;
  overflow: hidden;
  line-height: 44px;
  background-color: #fff;
  margin-bottom: 80px;
}

.m-winer span {
  width: 40px;
  height: 40px;
  display: inline-block;
  overflow: hidden;
  margin-top: 2px;
  margin-left: 5px;
  float: left;
}
.m-winer span img {
  width: 30px;
  height: 30px;
  margin-left: 3px;
}
.m-winer .m-w-a1 {
  height: 44px;
  display: inline-block;
  /* width: 100px;; */
  font-size: 14px;
}
.m-winer .m-w-a2 {
  height: 44px;
  display: inline-block;
  /* width: 100px;; */
  font-size: 16px;
}
.m-s-winer p:nth-child(4) {
  margin-bottom: 24px;
}
.mode-gg {
  width: 100%;
  height: 120px;
}
.mode-gg a img {
  width: 1230px;
}

.match-show2 {
  width: 1230px;
  height: 450px;
}
.match-show2 .score-rank-534 {
  margin-top: 51px;
  width: 534px;
  height: auto;
  position: absolute;
  top: 10px;
  left: 0;
}

.match-show2 .game-day {
  width: 680px;
  background: rgba(0, 0, 0, 0.5);
  float: right;
  margin-top: 23px;
}
/* .game-day-time{
  height: 32px;
  line-height: 32px;
} */
.matchlist-day-tab-title {
  background: #bbb;
}
.game-day-time {
  overflow: hidden;
  background: #bbb;
}
.ulBox {
  width: 565px;
  overflow: hidden;
}
.liHide {
  width: 920px;
  overflow: hidden;
  font-size: 0;
}
.liCurrent {
  background: #eee !important;
  color: #1da6ba;
  border-bottom: 2px solid #1da6ba;
  box-sizing: border-box;
}
.liHide li {
  font-size: 16px;
  display: inline-block;
  width: 114px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  background: #bbbbbb;
}
.bnt-box-a {
  position: absolute;
  right: 0;
  top: 61px;
  width: 114px;
  font-size: 0;
}
.bnt-box-a a {
  display: inline-block;
  font-size: 20px;
  height: 32px;
  line-height: 32px;
  background: #eee;
  text-align: center;
  width: 56.5px;
  user-select: none;
  cursor: pointer;
}
.game-day-team {
  background: #fefefe;
  height: 238px;
  overflow: hidden;
}
.game-team-list {
  overflow: hidden;
}
.game-team-list li {
  height: 60px;
  overflow: hidden;
  position: relative;
  border-bottom: 1px solid #eee;
}
.gtl-status {
  font-size: 12px;
  background: #e0e2e2;
  border-radius: 3px;
  position: absolute;
  top: 20px;
  left: 20px;
}
.gtl-time {
  font-size: 12px;
  color: #ccc;
  border-radius: 3px;
  position: absolute;
  top: 20px;
  left: 60px;
}
.gtl-team {
  display: inline;
  position: absolute;
  top: 10px;
  left: 150px;
}
.gtl-team a {
  position: absolute;
  top: 15px;
  left: 50px;
}
.gtl-team span img {
  width: 45px;
  height: 45px;
}
.bifeng {
  position: absolute;
  top: 15px;
  left: 300px;
}
.bifeng a:nth-child(1) {
  display: inline-block;
  vertical-align: middle;
  width: 26px;
  height: 33px;
  border-radius: 5px;
  line-height: 32px;
  background: #3a3a3a;
  font-size: 26px;
  color: #b0b0b0;
  text-align: center;
}
.bifeng a:nth-child(2) {
  display: inline-block;
  width: 24px;
  height: 33px;
  font-size: 26px;
  line-height: 30px;
  text-align: center;
  color: #3a3a3a;
  font-weight: 700;
}
.bifeng a:nth-child(3) {
  display: inline-block;
  vertical-align: middle;
  width: 26px;
  height: 33px;
  border-radius: 5px;
  line-height: 32px;
  background: #3a3a3a;
  font-size: 26px;
  color: #b0b0b0;
  text-align: center;
}

.gtl-team2 {
  display: inline;
  position: absolute;
  top: 10px;
  left: 430px;
}
.gtl-team2 a {
  position: absolute;
  top: 15px;
  left: 50px;
}
.gtl-team2 span img {
  width: 45px;
  height: 45px;
}
.gtl-video {
  border-color: #bb9a6c;
  color: #bb9a6c;
  float: right;
  padding: 0 6px;
  box-sizing: border-box;
  border: 1px solid;
  font-size: 14px;
  height: 20px;
  line-height: 18px;
  margin-left: 10px;
}
.gtl-list {
  border-color: #7ea1a6;
  float: right;
  color: #7ea1a6;
  padding: 0 6px;
  box-sizing: border-box;
  border: 1px solid;
  font-size: 14px;
  height: 20px;
  line-height: 18px;
  margin-left: 10px;
}
.gtl-list,
.gtl-video {
  margin: 20px 10px 0 0;
}
.mode-gg2 a img {
  width: 1230px;
  position: relative;
  top: 20px;
}

.match-show3 {
  width: 1230px;
  height: 700px;
  margin-top: 40px;
}
.ms-3-nei {
  width: 1230px;
  color: #666;
  font-size: 16px;
}
.m-part1 {
  /* width: 261px; */
  float: left;
  height: 551px;
  overflow: hidden;
  box-sizing: border-box;
}
.s-g-t-1 {
  padding-left: 10px;
  box-sizing: border-box;
  border-bottom: 1px solid #eee;
}
.m-link1 {
  padding-top: 106px;
  float: left;
  height: 551px;
  overflow: hidden;
  box-sizing: border-box;
  font-size: 16px;
  position: relative;
}
.m-link1 .link-one {
  display: block;
  margin-bottom: 115px;
  background: url("../img/wx-img/link.png") no-repeat;
  background-position: -313px -272px;
  width: 200px;
  height: 134px;
}
.m-link1 .link-two {
  display: block;

  background: url("../img/wx-img/link.png") no-repeat;
  background-position: -313px -272px;
  background-size: 699px 607px;
  width: 200px;
  height: 134px;
}

.m-part2 {
  position: absolute;
  top: 145px;
  left: 460px;
  width: 261px;
}

.match-part-name {
  width: 100%;
  height: 35px;
  line-height: 35px;
  text-align: left;
  color: #29a2b4;
  font-size: 16px;
  font-weight: 700;
  box-sizing: border-box;
  padding-left: 1px;
}
.s-s-w {
  margin-bottom: 5px;
}
.s-s-w span:nth-child(1) {
  color: #fff;
  background: #e68f21;
  font-size: 12px;
  border-radius: 3px;
}
.s-s-w span:nth-child(2) {
  font-size: 12px;
}
.s-s-w a {
  float: right;
  border: 1px solid #bb9a6c;
  color: #bb9a6c;
  font-size: 15px;
}
.win-team {
  width: 261px;
  height: 44px;
  background: #faf6ec;
  position: relative;
  border: 1px solid #eee;
  box-sizing: border-box;
}
.img-box {
  height: 44px;
  line-height: 44px;
}
.img-box img {
  margin: 7px 0 0 5px;
  width: 30px;
  height: 30px;
}
.team-name {
  position: absolute;
  top: 10px;
  left: 50px;
}
.score {
  position: relative;
  float: right;
  width: 23px;
  height: 44px;
  text-align: center;
  line-height: 44px;
  color: #fff;
  background-color: #d1a662;
}
.margin-bottom {
  margin-bottom: 135px;
}
.m-link2 {
  padding-top: 163px;
  float: left;
  overflow: hidden;
  box-sizing: border-box;
  font-size: 16px;
  position: relative;
  margin-left: 260px;
  width: 298px;
}
.link-one-2 {
  display: block;
  background: url("../img/wx-img/link.png") no-repeat;
  background-position: -313px 0;
  width: 250px;
  height: 267px;
}
.game-over {
  height: 44px;
  width: 261px;
  position: absolute;
  top: 270px;
  right: 0;
}
.mode-gg3 a img {
  width: 1230px;
  position: relative;
  top: 20px;
}

.LISCURRENT{
  font-weight: 700 !important;
  color: #1da6ba !important;
}