a {
    text-decoration: none;

}

.body {
    overflow: hidden;

}

.page3 {

    .title03 {
        background: url("../img/cat-image/title03.png") no-repeat;

    }

    .content {
        width: 100%;
        height: 892px;
        margin-top: 30px;
        position: relative;

        .player {
            width: 860px;
            height: 200px;
            overflow: hidden;
            background-color: #fff;
            border: 1px solid #9e6c37;
            margin: 0 auto;
            box-sizing: border-box;
            position: relative;
            text-align: center;

            .players {
                width: 2582px;
                height: 200px;

                .playIn {
                    width: 860px;
                    height: 200px;
                    overflow: hidden;
                    float: left;
                }

                .show {
                    display: inline-block;
                }
            }
        }

        .img-btn {
            a {
                display: inline-block;
                width: 68px;
                height: 88px;
            }

            .left {
                background: url(../img/cat-image/action-left.png);
                position: absolute;
                top: 56px;
            }

            .right {
                background: url(../img/cat-image/action-right.png);
                position: absolute;
                top: 56px;
                right: 0;
            }
        }

        .title-sub {
            margin-top: 40px;
            font-size: 24px;
            font-weight: 700;
            text-align: center;
            color: #9f6c35;
        }

        .core-warp {
            width: 100%;
            height: 576px;
            margin: 40px -80px 0 0;



            .ci0 {
                position: relative;

                .icon-play {
                    position: absolute;
                    top: 229px;

                }
            }

            .ci1 {
                position: relative;

                .icon-play {
                    position: absolute;
                    top: 229px;

                }
            }

            .ci2 {
                position: relative;

                .icon-play {
                    position: absolute;
                    top: 229px;

                }
            }

            .core-tit {

                text-align: center;
                font-size: 18px;
                color: #9e6c36;
                margin-bottom: 8px;
                font-weight: 700;
            }

            .core-item {
                box-sizing: border-box;
                float: left;
                width: 281px;
                margin-right: 75px;
                position: relative;

                .pic {
                    border: 2px solid #9e6c36;
                    border-bottom: none;

                    .picimg {
                        width: 100%;

                    }


                }

                .picI {
                    width: 281px;
                    height: 270px; //修改这个高度   252px   304px  174px
                    border: 2px solid #9e6c37;
                    border-top: none;
                    padding-top: 80px;
                    border-bottom: none;
                    box-sizing: border-box;
                    position: relative;
                    background: #fff;
                    z-index: 333;
                    transition: all 0.1s ease-in;



                    .picIn {
                        overflow: hidden;

                        .picspan {
                            display: inline-block;
                            margin-left: 68px;
                            font-size: 18px;
                            color: #9e6c36;
                            margin-bottom: 8px;
                        }

                        .spanimg1 {
                            margin-left: 52px;
                        }

                        .spanimg2 {
                            margin-left: 40px;
                        }

                        .tips {
                            text-align: center;
                            font-size: 14px;
                            color: #2f2f31;
                            width: 190px;
                            margin: 30px auto 0;
                        }

                        .lastpicSpan {
                            margin-left: 45px;
                        }
                    }

                    .picInN {

                        .piclit {
                            width: 256px;
                            margin: 0 auto;
                            font-weight: 700;
                            color: #9e6c36;
                            font-size: 24px;
                            text-align: center;
                        }

                        .piclitDiv {
                            background: #9e6c36;
                            width: 253px;
                            height: 1px;
                            margin: 0 auto 10px;
                            border-bottom: 1px solid #9e6c36;
                        }

                        .piclitDesc {
                            line-height: 26px;
                            font-size: 14px;
                            color: #2f2f31;
                            margin: 15px auto 15px;
                            width: 247px;
                            text-align: justify;
                        }
                    }

                    .hide {
                        display: none;
                    }

                    .after {
                        width: 281px;
                        height: 65px;
                        background: url('../img/cat-image/sprite-img.png');
                        background-position: 0 -2075px;
                        position: absolute;
                        bottom: -62px;
                        left: -2px;
                        z-index: 9999;



                    }

                }

            }

            .core-item:last-child {
                margin-right: 0px;
            }
        }
    }
}

.page4 {
    .vido-desc {
        margin-top: 50px;
        position: relative;

        .desc {
            width: 769px;
            padding: 0 20px 40px;
            margin: 0 auto;
            background-color: #fff;
            border: 1px solid #9e6c37;
            box-sizing: border-box;
            position: absolute;
            left: 116px;

            .p0 {
                display: block;
                color: #9f6c35;
                font-weight: 700;
                font-size: 24px;
                text-align: center;
                margin: 22px 0;
            }

            .p1 {
                color: #2f2f31;
                font-size: 16px;
                line-height: 24px;
                text-align: justify;
            }
        }
    }





}

.page5 {
    position: relative;

    .title05 {
        background: url(../img/cat-image/title05.png) no-repeat;
    }

    .titleP {
        text-align: center;
        font-size: 16px;
        color: #2f2f31;
        margin: 18px auto 30px;
    }

    .main-btn {
        position: absolute;
        top: 125px;
    }

    .page5btn1 {
        background: url(../img/cat-image/main-btn-new-y\ \(1\).png);
        left: 355px;
    }

    .page5btn2 {

        left: auto;
        right: 45px;
    }

    .search {
        padding-top: 200px;
        width: 1060px;
        margin: 0 auto;

        #search {
            margin: 0 auto;
            text-indent: 35px;
            vertical-align: top;
            display: inline-block;
            border: 1px solid #dd9b54;
            border-right: none;
            background: #ffefd5;
            font-size: 14px;
            color: #9f6c35;
            width: 254px;
            height: 35px;
        }

        .searchIn {
            width: 298px;
            margin: 0 auto 58px;
            font-size: 0;

        }

        .searchBtn {
            display: inline-block;
            width: 40px;
            height: 37px;
            background: 1px solid #dd9b54;
            background: #9f6c35;
            line-height: 35px;
            cursor: pointer;

            #ser {
                display: inline-block;
                width: 17px;
                height: 16px;
                background: url(//game.gtimg.cn/images/lol/act/a20190702loltftwf/icon-search.png) no-repeat center center;
                transform: translateX(12px) translateY(9px);
                cursor: pointer;

            }
        }

        .searchMain {
            >span {
                display: inline-block;
                cursor: pointer;
                width: 530px;
                height: 40px;
                text-align: center;
                line-height: 40px;
                color: #d79443;
                font-weight: bold;
                font-size: 20px;
                letter-spacing: 20px;
                margin-left: -1px;
                margin-right: -1px;
                vertical-align: bottom; //基线对齐方式
                margin-bottom: 27px;

            }

            .onselect {
                background: url(//game.gtimg.cn/images/lol/act/a20190702loltftwf/p5-tab-on.png) no-repeat center center;
                width: 531px;
                height: 56px;
                line-height: 56px;
            }

            .offselect {
                background: url(//game.gtimg.cn/images/lol/act/a20190702loltftwf/p5-tab-a.png) no-repeat center center;
            }

            .professionClass {
                li {
                    float: left;
                    margin: 0px 18px;
                    text-align: center;
                    font-size: 14px;
                    line-height: 29px;
                    cursor: pointer;

                    a {
                        color: #9f6c35;
                    }

                    &:nth-child(n) {
                        a {
                            display: inline-block;

                            i {
                                display: inline-block;
                                background-size: contain;
                                background-image: url(//game.gtimg.cn/images/lol/act/a20190702loltftwf/icon-fs.png);
                                width: 72px;
                                height: 75px;
                            }

                            b {
                                display: block;
                                width: 7px;
                                height: 1px;
                                background-color: #9f6c35;
                                margin: 9px auto 0;
                            }

                        }

                    }

                    &:nth-child(2) {
                        a {
                            i {
                                background: url(//game.gtimg.cn/images/lol/act/a20190702loltftwf/icon-ck.png);
                            }
                        }

                    }

                    &:nth-child(3) {
                        a {
                            i {
                                background: url(//game.gtimg.cn/images/lol/act/a20190702loltftwf/icon-js.png)
                            }
                        }

                    }

                    &:nth-child(4) {
                        a {
                            i {
                                background-image: url(//game.gtimg.cn/images/lol/act/a20190702loltftwf/icon-ds.png);
                            }
                        }

                    }

                    &:nth-child(5) {
                        a {
                            i {
                                background-image: url(//game.gtimg.cn/images/lol/act/a20190702loltftwf/icon-yss.png);
                            }
                        }

                    }

                    &:nth-child(6) {
                        a {
                            i {
                                background-image: url(//game.gtimg.cn/images/lol/act/a20190702loltftwf/icon-hw.png);
                            }
                        }

                    }

                    &:nth-child(7) {
                        a {
                            i {
                                background-image: url(//game.gtimg.cn/images/lol/act/a20190702loltftwf/icon-qs.png);
                            }
                        }

                    }

                    &:nth-child(8) {
                        a {
                            i {
                                background-image: url(//game.gtimg.cn/images/lol/act/a20190702loltftwf/icon-qishi.png);
                            }
                        }

                    }

                    &:nth-child(9) {
                        a {
                            i {
                                background-image: url(//game.gtimg.cn/images/lol/act/a20190702loltftwf/icon-yx.png);
                            }
                        }

                    }
                }


            }

            .tips {
                width: 455px;
                margin-top: 157px;
                color: #2f2f31;
                font-size: 14px;
                height: 82px;
                margin-left: -40px;
            }
        }

        .relevant {
            width: 1060px;
            height: 400px;

            .tit {
                margin-left: -40px;
                color: #9f6c35;
                font-size: 24px;
                font-weight: 700;
                text-align: left;

                &::after {
                    display: block;
                    content: "";
                    width: 40px;
                    height: 4px;
                    background: #9f6c35;
                    margin: 15px 0 18px;
                }


            }

            .hero-list {
                margin-left: -40px;
                width: 1100px;
                height: 63px;
                background: red;
            }

            .cont5-bg {
                margin-left: -40px;
                position: relative;

                .video-wrap {
                    width: 497px;
                    height: 348px;
                    border: 1px solid #d79443;
                    box-sizing: border-box;
                    position: absolute;
                    right: 23px;
                    top: -191px;
                    background: salmon;
                }

                .text-wrap {
                    width: 1051px;
                    height: 180px;
                    padding-top: 25px;
                    background: green;
                }

            }

        }
    }
}