.vid{
    background: rgb(227, 226, 226);
    width: 100%;
    position: absolute;
    top: 1480px;
    padding-top: 50px;
}
.vidIn{
    height: 500px;
    background: turquoise;
    position: relative;
}
.vidL{
    width: 710px;
    height: 400px;
    position: absolute;
    left: 0;
    top: 0;
    background: red;
    .vidLNav{
        
    }
}
.vidR{
    width: 490px;
    height: 400px;
    position: absolute;
    right: 0;
    top: 0;
    background: violet;
}